<!DOCTYPE html>
<html>

<style type="text/css">
  img {
    display: block;
    margin: 0 auto;
  }
</style>
  <body>
    <h1 align="center">Hello, welcome to our awesome website!</h1>
    <p align="center">And we loves Corgis</p>
      <img src="http://cdn.images.express.co.uk/img/dynamic/106/590x/secondary/Corgi-on-the-beach-251307.jpg">
  </body>
</html>
